body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
	 font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.form_builder .nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.form_builder .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.form_builder .nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.form_builder .nav-sidebar .active a:hover {
    background-color: #428bca;   
}
.form_builder .nav-sidebar .text-overflow a,
.form_builder .nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.form_builder .nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.form_builder .nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

.form_builder ul {
    font-size: 18px;
    display: block !important;
}
.form_builder ul li {
    padding: 10px;
    cursor: pointer;
}
.form_builder ul li a {
    text-decoration: none;
    cursor: pointer;
}

.form_builder_field {
    margin: 5px;
    padding: 20px;
    background: #eee;
    width: 100%;
	
}

.form_builder .bal_builder {
    padding: 5 !important;
}

.margin-left-5 {
    margin-left: 15px;
}

.remove_bal_field {
    cursor: pointer;
}

.form-check-input {
    margin-right: 8px;
}

.placeholder {
    width: 100%;
    background-color: rgb(249, 248, 252);
    border: 1px dashed #666;
    margin-bottom: 5px;
}
.form_builder_area {
    width:100%;
    min-height:800px;
	max-height:800px;
    position: absolute;
	overflow: scroll;
}

.form_builder_area2 {
    width:100%;
    min-height:50px;
    position: absolute
}

.mt-radio {
    display: block;
}
.mt-radio p {
    display: inline;
}
.mt-checkbox {
    display: block;
}
.mt-checkbox p {
    display: inline;
}

.add_more_select, .add_more_radio, .add_more_checkbox, .remove_more_select, .remove_more_radio, .remove_more_checkbox {
    cursor: pointer;
}